<div class="repository-content">
    #if ($medication)
        #set ($oparen = "(")
        #set ($cparen = ")")

        #foreach( $med in $medication )
            #if($med.product)
                #foreach( $product in $med.product )
                    #if( $product.productName.text )
                        <b>$product.productName.text</b><br/>
                    #end
                    #foreach( $code in $product.productName.code )
                        Medicine Code: $code.value ( $code.codingSystem of $code.version )<br/>
                    #end
                #end
            #else
                <b>No medication code provided</b><br/>
            #end

            #if($med.dateTime)
                #foreach( $dateType in $med.dateTime)
                    #if($dateType.exactDateTime)
                        #if($dateType.type)
                            $dateType.type.text:
                        #else
                            Time:
                        #end
                        $dateType.exactDateTime<br clear="all"/>
                    #end
                #end
            #else
                <b>No dates associated with this medication</b>
            #end

            #if($med.source)
                #foreach( $source in $med.source)
                    #if($source.actor)
                        #foreach( $actor in $source.actor)
                            #if($actor.actorID)
                                Actor ID: $actor.actorID
                            #end
                            #if($actor.actorRole)
                                #foreach( $role in $actor.actorRole)
                                    ( $role.text )
                                #end
                            #end
                            <br clear="all"/>
                        #end
                    #end
                #end
            #end

            #if($med.ccrDataObjectID)
                CCR DataObjectID: $$med.ccrDataObjectID<br/>
            #end

            #if( $med.patientInstructions )
                Patient Instruction:<ul>
                #foreach( $instruction in $med.patientInstructions.instruction)
                    #if($instruction.text)
                        <li><i>$instruction.text<i></li>
                    #end
                #end
                </ul>
            #end

            <hr/>
        #end
    #else
        <b>No medications provided</b>
    #end
</div>

