/**
	Based on Nifty Corners
	These styles allow for rounded corners purely with CSS.  No images and no JS.
*/
b.rtop, b.rbottom{display:block;background: #FBFBF3}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #52839A;}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}