#Wed Sep 29 09:53:49 EDT 2010
javadoc.launchViewer=false
javadoc.outputDir.1=../../Program Files/NetBeans 6.9.1/docs/api
javadoc.outputDir.2=../../Users/pete.johanson/dev/ovid-repo/ovid-dev-mainline/ovid/docs/api
javadoc.outputDir.3=../../Users/pete.johanson/dev/ovid-repo/ovid-dev-mainline/ovid
javadoc.outputDir.4=../out
javadoc.outputFile.1=ovid-api.rtf
javadoc.outputFile.2=foo.rtf
javadoc.outputFormat=RTF
javadoc.template=res\:templates/PlainDoc.tpl
param.docTitle.value=Demo Documentation
param.fmt.page.breakBefore.class.value=true
param.fmt.page.breakBefore.package.value=true
param.windowTitle.value=DocFlex/Doclet Demo
