<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <display-name>mmrc</display-name>

    <!-- Restlet configuration -->
    <context-param>
       <param-name>org.restlet.application</param-name>
       <param-value>
          org.mitre.medcafe.restlet.MedcafeApplication
       </param-value>
    </context-param>

    <!-- List of supported client protocols -->
    <context-param>
         <param-name>org.restlet.clients</param-name>
         <param-value>HTTP HTTPS FILE</param-value>
    </context-param>

	<context-param>
	    <description>This is the server name</description>
    	<param-name>server.host</param-name>
    	<param-value>127.0.0.1:8080</param-value>
	</context-param>

    <!-- Restlet adapter -->
    <servlet>
       <servlet-name>RestletServlet</servlet-name>
       <servlet-class>
          org.restlet.ext.servlet.ServerServlet
       </servlet-class>
    </servlet>
    <!-- Init Servlet -->
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>org.mitre.medcafe.servlets.InitServlet</servlet-class>
        <init-param>
        	<param-name>server.host</param-name>
        	<param-value>127.0.0.1:8080</param-value>
      	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Catch all requests from /c/* as a Restlet-->
    <servlet-mapping>
       <servlet-name>RestletServlet</servlet-name>
       <url-pattern>/c/*</url-pattern>
    </servlet-mapping>


    <!-- Login by form -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?message=Login failed.  Check your credentials and try again.</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Who can see what -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminPages</web-resource-name>
            <description> accessible by authorised users </description>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>These are the roles who have access</description>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Everything</web-resource-name>
            <description> accessible by authorized users </description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>These are the roles who have access</description>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description> accessible by everyone </description>
            <url-pattern>/js/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/c/*</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/registrationProcess.jsp</url-pattern>
            <url-pattern>/favicon.ico</url-pattern>
            <url-pattern>/j_security_check</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <!-- leaving out the auth-constraint so everyone can see it -->
    </security-constraint>

    <security-role>
        <description>
          Basic needed to access anything
        </description>
        <role-name>User</role-name>
    </security-role>

    <security-role>
        <description>
          People can use all the functions
        </description>
        <role-name>Admin</role-name>
    </security-role>

    <!-- Handling stuff -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/denied.html</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler.jsp</location>
    </error-page>

</web-app>
