/* Colors for widget header*/
.color-1 {background:#fde5a7;}
.color-2 {background:#ffe271;}
.color-3 {background:#FDD347;}
.color-4 {background:#d19405;}
.color-5 {background:#494437;}
.color-6 {background:#8e846b;}
.color-7 {background:#381f00;}
.color-8 {background:#817865;}
.color-1 h3,
.color-2 h3,
.color-4 h3,
.color-3 h3
	{color:#000;}
.color-6 h3,
.color-5 h3
	{color:#FFF;}
/* End Colors */
.ui-layout-resizer { /* all 'resizer-bars' */
		background: #fde5a7;
	}

	.ui-layout-toggler { /* all 'toggler-buttons' */
		background: #494437;
	}