#if ($repositoryList)


#foreach ($repos in $repositoryList)
	#if ($repos.allergies)
		{
			"titleLabels": [ "type", "substance", "reaction"],
			"modelNames": [ "type", "substance", "reaction"],
			"patientData": [
				#set ($i = 0)
				#foreach ( $allergy in $repos.allergies) 
					#if ($i > 0)
						,
					#end
					#set ($i = $i + 1)
					{ 
						"type":
							"Allergy", 
						"substance":
							"$allergy.description", 
						"reaction": 
							"$allergy.reaction.originalText" 
					}
				#end
			]
		}
	#end
#end
#end



