<div class="widget color-$tab_num" id="yellow-widget$tab_num">
    <div style="cursor: move;" class="widget-head">
        <a href="#" class="collapse">COLLAPSE</a><h3>$name</h3><a href="#" class="remove">CLOSE</a><a href="#" class="edit">EDIT</a><a href="#" class="maximize">MAXIMIZE</a>
    </div>
    <div class="edit-box" style="display: none;">
        <ul>
            <li class="item">
                <label>Change the title?</label>
                <input value="$name"/>
            </li>
        </ul>
        <li class="item">
            <label>Available colors:</label>
            <ul class="colors"><li class="color-1"></li><li class="color-2"></li><li class="color-3"></li><li class="color-4"></li><li class="color-5"></li><li class="color-6"></li></ul>
        </li>
    </div>
    <div class="widget-content no-copy" id="widget-content$tab_num">
        <p>
            <div id="aaa$tab_num" class="no-copy">
            </div>
        </p>
        <div id="dialog$tab_num">
            <div id="modalaaa$tab_num">

