
<div class="widget color-$color_num" id="medCafeWidget-$tab_set$id">
<div id = ${name}${rep_patient_id} class = "id">

    	<div style="cursor: move;" class="widget-head"> 
        <a href="#" class="collapse">COLLAPSE</a><h3>$label</h3><a href="#" class="remove">CLOSE</a><a href="#" class="edit">EDIT</a><a href="#" class="maximize">MAXIMIZE</a>
    	</div>
    <div class="edit-box" style="display: none;">
        <ul>
            <li class="item">
                <label>Change the title?</label>
                <input value="$label"/>
            </li>
        </ul>
        <li class="item">
            <label>Available colors:</label>
            <ul class="colors"><li class="color-1"></li><li class="color-2"></li><li class="color-3"></li><li class="color-4"></li><li class="color-5"></li><li class="color-6"></li></ul>
        </li>
    </div>
    <div class="widget-content no-copy" id="widget-content$id">
        <span>
            <div id="aaa$id" class="no-copy">

   

