#if ($repositoryList)
#set ($printFirst = 0)
</p><br/><p>
	#foreach ($repos in $repositoryList)
		#if ($printFirst == 0)
			#set ($printFirst = 1)	
			#if ($repos.allergies)
				
				    #foreach(  $allergy in $repos.allergies )
                        
                        $allergy.type.codeSystem : $allergy.type.code  <br/>
			        #end
	   	#end
		#end
	#end
#end
