#set ( $count=0)
#set ( $trueFlag = "true")
<div class="" id="patient_history">

#foreach( $category in $categories  )
		<br/>	
		<div class="ui-state-highlight ui-corner-all" style="padding: .3em;">

		<table cellpadding="0" cellspacing="0" border="0">
			
		<tr class="gradeX">
			<td value="$category.category"><b>$category.category</b></td>
			
			#foreach( $symptom in $category.symptoms  )
			
				#if ($symptom.hasSymptom == $trueFlag)
					<tr><td value="$symptom.name">$symptom.name</td><td><input type='checkbox' checked="checked"  name="symptom_check" value="$symptom.id"></input></td></tr>
				#else
					<tr><td value="$symptom.name">$symptom.name</td><td><input type='checkbox' name="symptom_check" value="$symptom.id"></input></td></tr>
				#end
			#end
			
		</tr>
		</table>
		</div>

#end
</tbody>
</div>
