#if ($repositoryList)
	

	<div class="repository-content">
	#set ($firstRepository = true)
	#set ($loopCount = 0)
	#foreach ($repos in $repositoryList)

			
		#if ($repos.announce && $firstRepository == true)
			$repos.announce.message
			<br>
			<br>
			Add a new allergy
			#if ($repos.can_insert=="false")
			   <a onclick="alert('Cannot insert to primary repository. Not enabled')" href="#" class="ui-icon ui-icon-circle-plus" style="float: right; margin-left: .3em;"></a>
			#else
			   <a onclick="insertDialog('$cacheKey', '$repos.repository')" href="#" class="ui-icon ui-icon-circle-plus" style="float: right; margin-left: .3em;"></a>
			#end
			#set ($firstRepository = false)
			#set ($loopCount = $loopCount + 1)
		#end
		#if ($firstRepository== true)
                    #if ($repos.can_insert=="false")
			   <a onclick="alert('Cannot insert to primary repository. Not enabled')" href="#" class="ui-icon ui-icon-circle-plus" style="float: right; margin-left: .3em;"></a>
	            #else
		         <a onclick="insertDialog('$cacheKey', '$repos.repository')" href="#" class="ui-icon ui-icon-circle-plus" style="float: right; margin-left: .3em;"></a>
		    #end
                #end
		#if ($repos.allergies)
			#if ($firstRepository != true)
				#if ($loopCount == 1)
					<div id="collapseInfo$widget_id">
			
					<a href="#" class="collapse">More</a>
					<div style="height: 25px"></div>
					<div id="add_repos$widget_id" style= "display: none">
					<p></p>
				#end
				<br/>
				<b><u>Repository: <i>$repos.repository</i></u></b><br/><br/>
			#end
			#set ($firstRepository = false)
			#set ($loopCount = $loopCount + 1)
			#foreach( $allergy in $repos.allergies)
		    <b>$allergy.description</b><br/>
    			<span class="ui-icon ui-icon-triangle-1-e"  style="float: left; margin-right: .3em;"></span>Reaction: $allergy.reaction.originalText<br clear="all"/>
			#end
			<br/>
		#end
	#end
	#if ($loopCount >= 2)
			</div>
		</div>
	#end
	</div>
#end			
