#set ($space = " ")    #* This is necessary because velocity removes the spaces between different objects *#
#set ($oparen = "(")
#set ($cparen = ")")

#foreach( $medication in $medications )
    <b>$medication.medicationInformation.manufacturedMaterial.freeTextBrandName</b><br/>
        ## <li>Manufacturer Info: $medication.medicationInformation.manufacturedMaterial.freeTextBrandName
        #if($medication.effectiveTime.value)
            <span class="ui-icon ui-icon-triangle-1-e"  style="float: left; margin-right: .3em;"></span>Started  $medication.effectiveTime.value<br clear="all"/>
        #end
        #if($medication.dose.value)
            <span class="ui-icon ui-icon-triangle-1-e"  style="float: left; margin-right: .3em;"></span>Dosage: $medication.dose.value<br clear="all"/>
            #if($medication.deliveryMethod.value)
                $oparen $medication.deliveryMethod.value $cparen
            #end
        #end
        #if($medication.patientInstructions)
            <span class="ui-icon ui-icon-triangle-1-e"  style="float: left; margin-right: .3em;"></span>Instructions: $medication.patientInstructions<br clear="all"/>
        #end
    ## Narrative: $medication.narrative
    <br/>
#end

