#if ($repositoryList)
	#set ($printFirst = 0)
	#foreach ($repos in $repositoryList)

		#if ($repos.vitals && $printFirst ==0)

			#set ($print = 0)
			#set ($printFirst = 1)
			#foreach ( $vitalDetail in $repos.vitals)
				<tr>
					<td>$vitalDetail.time
					</td>
					#set ($print = 1)
				<td>
				#set ($alert = 0)
	   		    #if ($vitalDetail.description != "")
    	   			#if ($vitalDetail.description.substring(0,1) == "*")
    	   				#set ($alert = 1)
    	   				<font color = "red">
    					#end
    				#end
				    $vitalDetail.description
				#if ($alert==1)
					</font>
				#end
				</td>
				<td>
				#foreach ( $value in $vitalDetail.values)
				    #if ($value.scalar.length() > 10)
				        $value.scalar.substring(0,6)
				    #else
				        $value.scalar
				    #end
				    
				    #if ($value.units)  
				    ($value.units)
				    #end
				#end
				</td>
				</tr>
		
	   	#end
	   #end
	#end
#end
