#if ($repositoryList)
#set ($printFirst = 0)
</p><br><p>
	#foreach ($repos in $repositoryList)
		#if ($printFirst == 0)
			#set ($printFirst = 1)	
			#if ($repos.allergies)
				#foreach(  $allergyDetail in $repos.allergies )
	   			${allergyDetail.product.value}<br/>
			
	   		#end
	   	#end
		#end
	#end
#end
