#if ($patient_history)
	#foreach( $history in $patient_history  )
		<p class="$history.priority">$history.title<br/>
		<span class="ui-icon ui-icon-triangle-1-e"  style="float: left; margin-right: .3em;"></span>$history.note<br clear="all"/></p>
	#end
#end
