#if ($repositoryList)
#set ($printFirst = 0)
</p><p>
	#foreach ($repos in $repositoryList)
		#if ($printFirst == 0)
			#set ($printFirst = 1)	
			#if ($repos.medications)
				#foreach( $medication in $repos.medications )
				     <br/>
	   			     #if ($medication.description)
	  				   <b>$medication.description</b><br/>
	  				 #elseif ($medication.free_text)
	  					<b>$medication.free_text</b><br/>
	  				 #end
	  				 
	  				 #if ($medication.start_time)
	  				   $medication.start_time
	  				 #end
	  				 
	  				 #if  ($medication.end_time)
	  				   to $medication.end_time
	  				  #else
	  				   to present.
	  				 #end
	  				 <br/>
				#end
	   	#end
	   #end
	#end
#end
