#foreach(  $history in $patient_history )
   
  	#if( $history.color )
  		<td style="background-color:$history.color">$history.title
  	#else
		<td>$history.title
   	#end
   	<div style="display: none;" class="ui-corner-all" id="detail">$history.note</div></td> 
#end