#if ($repositoryList)
#set ($printFirst = 0)
#set ($patcnt = 0)
    #foreach ($repos in $repositoryList)
        #if ($printFirst == 0)
            #set ($printFirst = 1)  
            #if ($repos.results)
                { "titleLabels": ["Type","Value","Date"],
                 "modelNames": ["Type","Value","ResultDate"],
                "patientData":[
                #foreach(  $resultDetail in $repos.results)
                    #if ($patcnt > 0)
                    ,
                    #end
                    #set ($patcnt = $patcnt+1)
                    {"id":"$patcnt"
                    #if ($resultDetail.description)
                         ,"Type": "$resultDetail.description" 
                    #end
                    
                    #foreach ( $value in $resultDetail.values)
                        
                        #if ($value.scalar) 
                                ,"Value": "$value.scalar"
                        #end
                    #end
                    
                    #if($resultDetail.time)
                            
                         , "ResultDate":"$resultDetail.time"
                               
                    #end
                    }
                #end
                ]}
            #end
        #end
    #end
#end



