#foreach( $widget in $widgets )
    <div class="imageContain">
    	<img src="$widget.image" alt="$widget.name" custom:url="$widget.clickURL" custom:type="$widget.type"></img>
    	<p>$widget.name</p>
    </div><br/>  
#end
