#foreach( $year in $years )
    <optgroup label="$year.year">
    
    #foreach( $month in $year.months )
    	#if ($month == $year.endSelected)
        	<option value="$month/$year.year" selected="true">$month/$year.year</option>
        #else
     		<option value="$month/$year.year">$month/$year.year</option>
        #end
      	
    #end
    </optgroup>
#end

