body {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #444444;
    font-family: Georgia;
    /* font-size: 12px; */
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5em;
    margin-bottom: 20px;
}
a {
    color: #018FCF;
}
a:hover {
    color: #000000;
}
a:focus {
    outline: medium none;
}
h1 {
    color: #018FCF;
    font-size: 40px;
    font-weight: normal;
}
h2 {
    color: #EFD004;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0 0 5px;
}
h3 {
    color: #EFD004;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
h4 {
    color: #999999;
    font-size: 15px;
    padding-bottom: 10px;
}
h5 {
    color: #999999;
    font-size: 13px;
    padding-bottom: 10px;
}
ul, ol {
    margin: 0 0 35px 35px;
}
li {
    padding-bottom: 10px;
}
li ol, li ul {
    font-size: 1em;
    margin-bottom: 0;
    padding-top: 5px;
}
#container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D6D6D6;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#container-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 920px;
}
#header {
    height: 88px;
    margin: 0 auto;
    padding: 0;
}
#header h1 {
    padding-left: 15px;
    padding-top: 15px;
}
#header h1 a {
    color: #EFD004;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}
#header p {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    margin-left: 12px;
    margin-top: 0;
    padding-left: 8px;
}
#nav {
    -moz-border-radius: 32px;
	-khtml-border-radius: 32px;
	-webkit-border-radius: 32px;
    background-color: #018FCF;
    height: 40px;
    width: 920px;
}
#nav ul {
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10px;
}
#nav ul li {
    display: block;
    float: left;
    padding: 0;
}
#nav ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
#nav ul li a:hover {
	text-decoration:underline;
}
#slideshow {
    height: 250px;
    margin: 10px 0 0;
    width: 920px;
}
#main {
    margin: 0 auto;
    padding: 0;
    width: 920px;
}
#fullcontent {
    /* border-right: 1px solid #D6D6D6; */
    float: left;
    margin: 15px 0;
    padding-right: 6px;
    width: 920px;
}
#content {
    border-right: 1px solid #D6D6D6;
    float: left;
    margin: 15px 0;
    padding-right: 6px;
    width: 620px;
}
.sidebar {
    background-color: #F9FAF1;
    float: right;
    margin-top: 15px;
    padding: 10px;
    width: 260px;
}
.sidebar ul {
    margin: 10px 0 35px 35px;
    padding: 0;
}
.sidebar li ul li {
    border-top: medium none;
    color: #555555;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
    margin: 0;
    padding: 6px 7px;
}
.sidebar li ul li a {
    color: #555555;
    font-weight: normal;
}
.sidebar li ul li a:hover {
    color: #018FCF;
}
.sidebar h4 {
    border-bottom: 1px solid #E8ECC7;
    color: #EFD004;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}
.news-item {
    padding-bottom: 10px;
    padding-top: 10px;
}
.latest-news a {
    font-weight: bold;
}
.date {
    color: #EFD004;
    font-weight: bold;
}
#footer {
	background-color: #EEEEEE;
	width: 960px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

#footer p {
    line-height: 1.5em;
    margin-bottom: 5px;
}

.copyright {
	padding:0px 5px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;

}

.credit {
	text-align:right;
	font-size:5px;
	color:#999;

}
.credit a {
	color:#999;
	text-decoration:none;

}

table {
    text-align: left;
    width: 100%;
}
th, td {
    padding: 10px;
}
th {
    background: none repeat-x scroll left top #1FAABE;
    color: #FFFFFF;
}
td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
blockquote {
    border-left: 5px solid #018FCF;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}
blockquote p {
    color: #555555;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    height: 1%;
    margin: 0;
}
fieldset {
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px medium medium;
    display: block;
}
fieldset legend {
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
}
fieldset form {
    padding-top: 15px;
}
fieldset p label {
    float: left;
    width: 150px;
}
form input, form select, form textarea {
    border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 5px;
}
form input.formbutton {
    background: none repeat scroll 0 0 #1FAABE;
    border: medium none;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: visible;
    padding: 5px 10px;
    width: auto;
}
form.searchform p {
    margin: 5px 0;
}
span.required {
    color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
.clear {
    clear: both;
}

.alignleft {
	padding: 0;
	margin: 0 20px 10px 0;
	display: inline;
	float: left;
	}

.menu {
    -moz-border-radius: 16px;
	-khtml-border-radius: 16px;
	-webkit-border-radius: 16px;
	background-color: #dddddd;
    border solid black 2px;
    width:250px;
    padding: 10px;
    float:right;
    margin-right:15px;
}
