#foreach( $year in $years )
    <optgroup label="$year.year">
    #foreach( $month in $year.months )
        <option value="$month/$year.year">$month/$year.year</option>
    #end
    </optgroup>
#end

